@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #084c4c;
    padding: 1rem 3rem;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
}

.logo2{
    color: white;
    background: none;
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem; 
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: default;
}

.copyright-info{
    color: rgba(255, 255, 255, 0.635);
    background: none;
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 14px;
    padding-top: 0.9rem;
    cursor: default;
}

.media-icons{
    background: none;
    display: flex;
    gap: .6rem;
    cursor: pointer;
}