
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');



.navtop{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    padding: 0.5rem 6rem; 
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #084c4c50;
}
 
.navbar{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;
}

.logo{
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem; 
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}


.navbar ul{
    list-style: none;
    display: flex;
    gap: 1.7rem;
    margin: 10px;
    padding: 0;

}


.navbar li {
    cursor: pointer;
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
}

.navbar li:hover{
    color: #10b67f;
    transition: color 0.3s ease;
}
.cta-top{
    border: none;
    padding: .5rem 1rem;
    border-radius: 30px;
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    cursor: pointer;
    background-color: #009966;
    color: white;
    text-decoration: none;
}


.cta-top:hover{
    border: none;
    padding: .5rem 1rem;
    border-radius: 30px;
    font-family: "Alexandria", sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    cursor: pointer;
    background-color: #02704bf4;
    transition: background-color .2s ease-in-out;
    color: white;
}




